* {
  box-sizing: border-box;
}

body {
  width:100%;
}

header {
  display: block;
  width: 100vw;
  height: 70px;
  background-color: violet;
}

#card1 {
  float: left;
  height: 100%;
}

#card1 p {
  display:inline-block;
  font-size:65px;
}

#clickables {
  float: right;
  position: relative; top: 40px;
  height: 100%;
  /* vertical-align: middle; */
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
nav ul li {
  display: inline-block;
  padding: 0 1em;
  border: 1px solid black;
  margin:0;
}

#imagesDisplayed {
height: 300px;
width: 100%;
background-color: rgb(255, 123, 0);
}

.imageslots {
  width: 33%;
  margin-top: 50px;
  display: inline-block;
}

/* .imageslots:hover {
  cursor: pointer;
} */


#imagesDisplayed img {
  width: 200px;
  height: 200px;
}

 #catalogOption:hover {
  cursor: pointer;
} 
#catalogOption2:hover {
  cursor: pointer;
} 
#catalogOption3:hover {
  cursor: pointer;
} 


#catalogOption {
  margin: auto;
  display: block;
}

#catalogOption2 {
  margin: auto;
  display: block;
}

#catalogOption3 {
  margin: auto;
  display: block;
}

canvas {
  width: 400px;
  height: 600px;
}

button {
  margin-left:60px;
  background-color: purple;
  border-color: purple;
  color:white;
}