* {
  box-sizing: border-box;
}

body {
  width:100%;
}

header {
  display: inline-block;
  width: 100%;
  background-color: violet;
}

#card1 {
  float: left;
  height: 100%;
}

#card1 p {
  display:inline-block;
}

#clickables {
  float: right;
  height: 100%;
  
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
nav ul li {
  display: inline-block;
  padding: 0 1em;
  border: 1px solid black;
  margin:0;
}

#resultsChart {
  float: left;
  width:30%;
  background-color: rgb(9, 255, 0);
}

.imagesDisplayed {
  float:right;
  width:70%;
  background-color: rgb(255, 123, 0);
}

.imagesDisplayed img {
  width: 250px;
}

.imagesDisplayed {
display: block;
margin: 0 auto;
}

.imagesDisplayed li {
  list-style-type: none;
  display: inline-block;
}

#votes {
float:right;
display: inline-block;
background-color: aqua;
}

#info p {
  width:70%;
  display: inline-block;
  float: right;
  background-color: yellow;
}