* {
  box-sizing: border-box;
}

body {
  width:100%;
}

header {
  display: block;
  width: 100vw;
  height: 70px;
  background-color: violet;
}

#card1 {
  float: left;
  height: 100%;
}

#card1 p {
  display:inline-block;
}

#clickables {
  float: right;
  height: 100%;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
nav ul li {
  display: inline-block;
  padding: 0 1em;
  border: 1px solid black;
  margin:0;
}




#imagesDisplayed {
/* margin: auto; */
/* display: inline-block; */
width: 100%;
background-color: rgb(255, 123, 0);
}

.imageslots {
  width: 33%;
  display: inline-block;
}

#imagesDisplayed img {
  width: 250px;
  height: 250px;
}

#catalogOption {
  margin: auto;
  display: block;
}

#catalogOption2 {
  margin: auto;
  display: block;

}

#catalogOption3 {
  margin: auto;
  display: block;

}





#votes {
  float:right;
}
#votes {
display: inline-block;
background-color: aqua;
}

#info p {
  float: right;
}

#info p {
  width:70%;
  display: inline-block;
  background-color: yellow;
}